<footer>
  <ul class="list-inline">
    <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/">Home</a>
    </li>
    <li class="list-inline-item" routerLinkActive="active">
      <a routerLink="/services">Services</a>
    </li>
    <li class="list-inline-item" routerLinkActive="active">
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
  <ul class="list-inline">
    <li class="list-inline-item"><i class="fa fa-phone" aria-hidden="true"></i> 555-555-1212</li>
    <li class="list-inline-item"><i class="fa fa-mobile" aria-hidden="true"></i> 555-555-1213</li>
    <li class="list-inline-item"><i class="fa fa-fax" aria-hidden="true"></i> 555-555-1214</li>
    <li class="list-inline-item"><i class="fa fa-envelope-o" aria-hidden="true"></i> email@email.com</li>
  </ul>
  <div class="mb-3">
    &copy; {{ footerDate }} Gascon Engineering & Structural Design
  </div>
</footer>