#main-address {
    font-size: 20px;
    margin-left: 30px;
}

.container-fluid {
    background-color: #CCCCCC;
    min-height: 750px;
}

.container { 
    padding-top: 35px;
}

h3 {
    margin-left: 30px;
}