#showcase {
    min-height: 400px;
    background: url('../../assets/img/services.jpg') no-repeat 0 -375px;
    text-align: center;
    color: #000;
}

.container-fluid {
    height: auto;
}

.container {
    padding-top: 35px;
}

.card {
    margin-bottom: 35px;
    width: 20rem;
}

p {
    font-size: 20px;
}