#showcase {
    min-height: 400px;
    background: url('../../assets/img/showcase.jpg') no-repeat 0 -350px;
    text-align: center;
    color: #000;
}

#showcase h1 {
    padding-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px
}

.card {
    margin: 35px;
}