#showcase {
    min-height: 500px;
    background: url('../../assets/img/showcase.jpg') no-repeat 0 -375px;
    text-align: center;
    color: #000;
}

#showcase h1 {
    padding-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;
}

#showcase p, #about p {
    font-size: 18px;
}

@media(min-width: 992px){
    #showcase h1 {
        padding-top: 50px;
        font-size: 55px;
        margin-bottom: 10px;
    }

    #showcase p {
        font-size: 20px;
    }
}

#about {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: -35px;
    min-height: 250px;
    background-color: #fff;
}

#about img {
    margin-bottom: 35px;
}

#services {
    background-color: #fff;    
}

.card {
    margin: 35px;
}

h3 {
    margin-left: 35px;
}

#contact {
    background-color: #cccccc;
}