<div class="fade-in">
  <section id="showcase">
    <div class="container">
      <h1>Gascon Engineering & Structural Design</h1>
      <p class="text-justify">Enim enim dolore exercitation duis duis duis Lorem tempor non in amet. Veniam dolore eiusmod consectetur ipsum ea laborum enim voluptate. Sint eiusmod exercitation qui occaecat voluptate est nulla dolor Lorem consectetur.</p>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=you&w=225&h=225" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8 text-justify">
          <p>Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5 mb-3">
          <h3>Our Services</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=image&w=350&h=150" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Service 1</h4>
              <p class="card-text">In sint minim sint ullamco magna cupidatat ullamco esse duis magna.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=image&w=350&h=150" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Service 2</h4>
              <p class="card-text">In sint minim sint ullamco magna cupidatat ullamco esse duis magna.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=image&w=350&h=150" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Service 3</h4>
              <p class="card-text">In sint minim sint ullamco magna cupidatat ullamco esse duis magna.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <app-contact></app-contact>
  </section>
</div>